@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html
{
    font-size: 62.5%;
}

:root
{
    --color-fondo: #000000;
    --color-texto: #F6F6F6;
    --color-principal: #22D4FD;
    --color-hover: #272727;

    --fuente-titulos: "Krona One", "Times New Roman";
    --fuente-textos: "Montserrat", "Times New Roman";

    --tamaño-titulos: 3.6rem;
    --tamaño-texto: 2.4rem;

    --espacio-elementos: 2rem;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body
{
    background-color: var(--color-fondo);
}

.presentacion
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--espacio-elementos);
    padding: 5% 15%;
}

.presentacion__contenido
{
    display: flex;
    flex-direction: column;
    gap: var(--espacio-elementos);
}

.presentacion__texto
{
    display: flex;
    flex-direction: column;
    gap: var(--espacio-elementos);
}

.presentacion__titulo1
{
    font-family: var(--fuente-titulos);
    font-size: var(--tamaño-titulos);
    color: var(--color-texto);
}

.presentacion__titulo2
{
    font-family: var(--fuente-titulos);
    font-size: var(--tamaño-texto);
    color: var(--color-texto);
}

.presentacion__titulo--destaque
{
    color: var(--color-principal);
}

.presentacion__parrafo
{
    font-family: var(--fuente-textos);
    font-size: var(--tamaño-texto);
    color: var(--color-texto);
}

.presentacion__enlaces
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espacio-elementos);
}

.presentacion__link
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--espacio-elementos);
    width: 37rem;
    height: 6rem;
    border: 0.2rem solid var(--color-principal);
    border-radius: 0.8rem;
    font-family: var(--fuente-textos);
    font-size: var(--tamaño-texto);
    font-weight: 600;
    color: var(--color-texto);
    text-decoration: none;
    background-color: var(--color-fondo);
}

.presentacion__link:hover
{
    transform: scale(1.025);
    background-color: var(--color-fondo);
}

.footer
{
    padding: 2rem;
    text-align: center;
    font-family: var(--fuente-textos);
    font-size: var(--tamaño-texto);
    color: var(--color-fondo);
    background-color: var(--color-principal);
}

.header
{
    padding: 2.5% 0% 0% 15%;
}

.header__menu
{
    display: flex;
    gap: 8rem;
}

.header__link
{
    font-family: var(--fuente-textos);
    font-size: var(--tamaño-texto);
    font-weight: 600;
    color: var(--color-principal);
    text-decoration: none;
    gap: var(--espacio-elementos);
}

.header__link:hover
{
    color: var(--color-texto);
}